/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Header Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

/* 회원가입 폼 */
#signup {
  background-color: #fff;
  padding: 3rem;
  margin-top: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#signup h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

#signup label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#signup input[type="text"],
#signup input[type="email"],
#signup input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

#signup input[type="text"]:focus,
#signup input[type="email"]:focus,
#signup input[type="password"]:focus {
  border-color: #333;
}

#signup button[type="submit"] {
  background-color: #4c4c4c;
  color: #fff;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

#signup button[type="submit"]:hover {
  background-color: #846f6f;
}

/* Footer */
#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f6f4;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
}

#footer p {
  font-size: 1rem;
  color: #423d3d;
  margin: 0;
}
